.cart{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
     border: 1px solid transparent;
   -webkit-box-shadow: 1px 1px 25px -5px rgba(0,0,0,0.72); 
   box-shadow: 1px 1px 25px -5px rgba(0,0,0,0.72);
   padding: 20px 30px;
   border-radius: 5px;
}
.cart .image{
    width: 120px;
}
.cart h3{
    font-size: 20px;
}
.cart p{
    font-weight: 500px;
}
.cart .quantity{
   display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(74, 167, 74);
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}
.increaseBtn ,.decreaseBtn , .removeBtn{
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #fca311;
    cursor: pointer;
    width: fit-content;
    border-radius: 3px;
    font-size: 14px;
    margin: 0 5px;
    color: #fff;
}


 @media (max-width:769px) {
     .cart{
         width: 100%;
     }
    .cart .image{
    width: 100px;
}
}

@media (max-width:600px) {
    .cart{
        flex-wrap: wrap;
    }
    .cart h3{
        font-size: 14px;
    }
    .cart .image{
        width: 60px;
    }
    .cart .quantity,.increaseBtn ,.decreaseBtn , .removeBtn{
        width: 22px;
        height: 22px;
    }
    .decreaseIcon , .addIcon , .deleteIcon{
        font-size: 13px;
        text-align: center;
    }
}